{
  "extends": "standard",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "rules": {
    "no-multi-spaces": [1, { "exceptions": { "VariableDeclarator": true, "Property": true } }],
    "no-multiple-empty-lines": [1, { "max": 2 }],
    "semi": [2, "always"],
    "space-before-function-paren": [1, "always"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "no-use-before-define": [2, "nofunc"]
  },
  "globals": {
    "Phaser": true
  }
}
